[DEFAULT]
log_file = /var/lib/rally/tempest.log

[compute]
min_microversion = 2.1
{% if rally.tempest.openstack_release == "mitaka" %}
max_microversion = 2.25
{% elif rally.tempest.openstack_release == "newton" %}
max_microversion = 2.38
{% endif %}
min_compute_nodes = {{ rally.tempest.compute.min_compute_nodes }}

{% set compute_feature = rally.tempest.compute_feature %}
[compute-feature-enabled]
block_migration_for_live_migration = {{ compute_feature.block_migration_for_live_migration }}
live_migration = {{ compute_feature.live_migration }}
nova_cert = {{ compute_feature.nova_cert }}
personality = {{ compute_feature.personality }}

{% set network_feature = rally.tempest.network_feature %}
[network-feature-enabled]
ipv6 = {{ network_feature.ipv6 }}
ipv6_subnet_attributes = {{ network_feature.ipv6_subnet_attributes }}

[object-storage-feature-enabled]
discoverability = {{ rally.tempest.object_storage_feature.discoverability }}

[volume]
storage_protocol = {{ rally.tempest.volume.storage_protocol }}
