[DEFAULT]
log_file = /var/lib/rally/tempest.log

[compute]
max_microversion = latest
min_compute_nodes = {{ rally.tempest.compute.min_compute_nodes }}

{% set compute_feature = rally.tempest.compute_feature %}
[compute-feature-enabled]
block_migration_for_live_migration = {{ compute_feature.block_migration_for_live_migration }}
live_migration = {{ compute_feature.live_migration }}
allow_port_security_disabled = {{ compute_feature.allow_port_security_disabled }}
attach_encrypted_volume = {{ compute_feature.attach_encrypted_volume }}
personality = {{ compute_feature.personality }}

[auth]
use_dynamic_credentials = True
tempest_roles = _member_
admin_domain_name = Default
admin_project_name = {{ openstack.project_name }}
admin_password = {{ openstack.user_password }}
admin_username = {{ openstack.user_name }}

[identity]
{% if rally.tempest.openstack_release == "mitaka" %}
admin_domain_scope = False
{% else %}
admin_domain_scope = True
{% endif %}

[identity-feature-enabled]
reseller = {{ rally.tempest.identity_feature.reseller }}

[network]
floating_network_name = {{ neutron.bootstrap.external.net_name }}

{% set network_feature = rally.tempest.network_feature %}
[network-feature-enabled]
ipv6 = {{ network_feature.ipv6 }}
ipv6_subnet_attributes = {{ network_feature.ipv6_subnet_attributes }}

[object-storage-feature-enabled]
container_sync = {{ rally.tempest.object_storage_feature.container_sync }}
discoverability = {{ rally.tempest.object_storage_feature.discoverability }}

[volume]
storage_protocol = {{ rally.tempest.volume.storage_protocol }}

[volume-feature-enabled]
{% if rally.tempest.openstack_release == "mitaka" %}
api_v3 = False
{% else %}
api_v3 = True
max_microversion = latest
{% endif %}
volume_services = {{ rally.tempest.volume_feature.volume_services }}
